@model AZRM2023v1.Models.SWD2.Szpital

@{
    ViewData["Title"] = "RemoveSzpital";
}

<h1>Usuń Szpital</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idszpitala)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idszpitala)
        </dd>
    </dl>
    <form asp-action="RemoveConfirmSzpital" method="post" asp-route-id="@Model.Idszpitala">
        <input type="hidden" value="@Html.DisplayFor(model => model.Idszpitala)" />
        <button type="submit" class="btn alert-danger">Potwierdź Usunięcie </button>
    </form>
</div>
<div>
    <a asp-action="EditSzpital" asp-route-id="@Model.Idszpitala">Edytuj Szpital</a> |
    <a asp-action="ListaSzpitali">Wróć do Listy</a>
</div>
